.send-message {
  font-size: 10px;
  color: white;
  float: right;
  margin-top: 100px;
  margin-right: 120px;
}

.send-message .MuiSvgIcon-root {
  font-size: 50px;
}

.main-modal {
  width: 240px !important;
  height: 300px;
  background: rgb(250, 248, 248);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 170px;
  text-align: center;
  box-shadow: 2px 3px 3px #ccc;
}
